<div class="wrapper">
    <div class="alert alert-danger" *ngIf="errorMessage"><p>{{errorMessage}}</p></div>
    <p style="font-weight: bold; font-size: 40px">Login</p>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
               <input formControlName="username" placeholder="Username" style="border-radius: 0.7em; width: 400px; height: 35px">
               <br><br>
               <input formControlName="password" type="password" placeholder="Password" style="border-radius: 0.7em; width: 400px; height: 35px">
        <br><br>
        <button type="submit" style="border-radius: 1em; width: 400px; height: 43px;" class="btn btn-success"><b>Login</b></button>
    </form>
    <br>
    <a>Forgot Password? Click here</a>
</div>


