.wrapper{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white; 
    padding-top: -50px; 
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 30px;
}