<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Pho Ly Quoc Su</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/welcome/tao-hoa-don" >Tao hoa don</a></li>
        <li routerLinkActive="active"><a routerLink="/welcome/them-nhan-vien" >Them nhan vien</a></li>
        <li routerLinkActive="active"><a routerLink="/welcome/report" >Report</a></li>
        <li routerLinkActive="active"><a href="" (click)="logOut()">Logout</a></li>
      </ul>
    </div>
  </nav>
